.login {
    max-width: 35rem;
    margin: auto;
    margin-top: 10rem;

    // .card-header-danger {
    //     background: #3C4858;
    //     box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(59, 72, 88);
    // }

    .content {
        padding-top: 3rem;
    }

    .full-width {
        width: 100%;
    }

    .login {
        margin-top: 2rem;
    }
}