<div class="login">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Full header coloured</h4>
          <p class="card-category">Category subtitle</p>
        </div>
        <div class="card-body">
          The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can
          enjoy the main night life in Barcelona...
        </div>
      </div>
    </div>
  </div>
</div>