<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">User Table</h4>
                        <p class="card-category"> User List Table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Role
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Sujono
                                        </td>
                                        <td>
                                            Admin
                                        </td>
                                        <td>
                                            asd@gmail.com
                                        </td>
                                        <td>
                                            098019283023
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Sujono
                                        </td>
                                        <td>
                                            Admin
                                        </td>
                                        <td>
                                            asd@gmail.com
                                        </td>
                                        <td>
                                            098019283023
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Mr Downey
                                        </td>
                                        <td>
                                            Super Admin
                                        </td>
                                        <td>
                                            asd@gmail.com
                                        </td>
                                        <td>
                                            098019283023
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Mr Johnson
                                        </td>
                                        <td>
                                            Admin
                                        </td>
                                        <td>
                                            asd@gmail.com
                                        </td>
                                        <td>
                                            098019283023
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Admiral Secret
                                        </td>
                                        <td>
                                            Admin
                                        </td>
                                        <td>
                                            asd@gmail.com
                                        </td>
                                        <td>
                                            098019283023
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Kiharu
                                        </td>
                                        <td>
                                            Admin
                                        </td>
                                        <td>
                                            asd@gmail.com
                                        </td>
                                        <td>
                                            098019283023
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>