<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">

                        <p-treeTable [value]="dataRow" [columns]="cols" class="material-table">
                            <ng-template pTemplate="header" let-columns>
                              <tr [ttRow]="rowNode">
                                <th width="120">#</th>
                                <th *ngFor="let col of columns">
                                  {{col.header}}
                                </th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                              <tr>
                                <td>
                                  <!-- <mat-icon matTooltip="Delete" (click)="deleteData(rowData)" class="s-20 mr-16">delete</mat-icon>
                                  <mat-icon matTooltip="Edit" (click)="editData(rowData)" class="s-20 mr-16">edit</mat-icon> -->
                                </td>
                                <td *ngFor="let col of columns; let i = index">
                                  <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                                  {{rowData[col.field]}}
                                </td>
                              </tr>
                            </ng-template>
                          </p-treeTable>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>